.principal{
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}

.titulo-pagina{
    font-size: 1.6rem;
    font-weight: 700;
}

.cartao{
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #2C343A;
}

.cartao__imagem--desktop{
    display: none;
}

.cartao--destaque{
    margin-bottom: 16px;
}

.cartao__conteudo{
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 15px;
    column-gap: 16px;
}

.cartao__destaque{
    grid-column: span 2;
}

.cartao__titulo{
    font-size: 1.125rem;
    font-weight: 700;
    grid-column: span 2;
}

.cartao__perfil{
    color: #95999C;
    font-size: 0.9rem;
    grid-column: span 2;
}

.cartao__info{
    display: flex;
    align-items: center;
    color: #95999C;
}

.cartao__info--tempo::before{
    content: "\e90c";
    margin-right: 8px;

}
.cartao__info--visualizacao::before{
    content: "\e90f";
    margin-right: 8px;
}

.cartao__botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0480DC;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    justify-self: flex-end;
}

.cartao__botao--play::before{
    content: "\e90b";
    font-size: 24px;
}

.cartao__botao--destaque{
    width: 100%; 
    grid-column: span 2;
}

.cartao__botao--destaque::before{
    margin-right: 8px;
}

.cartao--recentes{
    display: none;
}

/* Seção Videos Mais Vistos */
.secao{
    display: grid;
    gap: 16px;
}

.titulo-secao{
    font-size: 1.2rem;
    font-weight: 700;
}

/* Seção Compras */
.cartao__info--preco::before{
    content: "\e905";
    margin-right: 8px;
}

.cartao__botao--comprar::before{
    content: "\e901";
    font-size: 24px;
}

/* Página de Picos */

.picos-mapa{
    background-image: url(../img/mapa-picos.png);
    width: 100%;
    height: 468px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 15px;
    margin-bottom: 1.2rem;
}

.cartao__botao--pico::before{
    content: "\e909";
    font-size: 24px;
}
