@media screen and (min-width: 1024px){
    body{
        display: grid;
        grid-template-columns: auto 1fr;
    }
 
    .cabecalho{
        background-color: #1D232A ;
        display: grid;
        column-gap: 32px;
        grid-template-columns: 1fr auto;
        padding: 16px 60px;
        height: 80px;
        box-sizing: border-box;
        grid-column: 2;
    }

    .cabecalho__menu{
        display: none;
    }

    .cabecalho__logo{
        display: none;
    }

    .cabecalho__perfil{
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 8px;
        align-items: center;
        justify-self: flex-end;
        color: #95999C;
        padding: 8px 32px;
        border-right: 1px solid #95999C;
    }

    .cabecalho__perfil::before{
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        background-image: url(../img/profile_2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cabecalho__perfil::after{
        content: "\e90d";
        color: #fff;
        font-size: 1.5rem;
    }

    .menu-lateral{
        position: static;
        width: 200px;
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    /* MAIN */
    .principal{
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
            "titulo-pagina titulo-pagina titulo-pagina"
            "destaque-video destaque-video videos-recentes"
            "secao-videos secao-videos secao-videos"
            "produtos-recentes destaque-produto destaque-produto"
            "secao-produtos secao-produtos secao-produtos"
        ;
        column-gap: 32px;
        padding: 16px 60px;
        grid-column: 2;
    }

    .cartao__imagem--desktop{
        display: block;
    }
    .cartao__imagem--mobile{
        display: none;
    }

    .cartao--destaque{
        margin-bottom: 0;
    }

    .cartao--destaque p {
        font-size: 18px;
        font-weight: 700;
    }

    .cartao__titulo-destaque{
        font-size: 1.625rem;
    }

    .cartao__botao--destaque{
        grid-column: auto;
        padding: 16px 8px;

    }

    .cartao--recentes{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        row-gap: 24px;
        width: 256px;
        padding: 16px;
        box-sizing: border-box;
        align-self: flex-start;
    }

    .cartao--recentes .cartao__titulo{
        grid-column: auto;
    }

    .cartao__link{
        font-size: 0.8rem;
        font-weight: 600;
        color: #0480DC ;
        justify-self: flex-end;
    }

    .cartao__lista{
        display: grid;
        row-gap: 16px;
        grid-column: span 2;
    }

    .cartao__item{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
    }

    .cartao__item-thumbnail{
        width: 32px;
        grid-row: span 2;
    }

    .cartao__item-titulo{
        font-size: 0.9rem;
        line-height: 1.2rem;
        font-weight: 700;
    }

    .cartao__item-perfil{
        font-size: 0.8rem;
        color: #95999C;
    }

    .secao{
        grid-template-columns: repeat(4, 1fr);
    }

    .titulo-secao{
        grid-column: span 4;
    }


    /*  PICOS página  */
    
    .principal-picos{
        grid-template-areas: 
        "titulo-pagina titulo-pagina titulo-pagina"
        "picos-mapa picos-mapa picos-favoritos"
        "secao-picos-mais-visitados secao-picos-mais-visitados secao-picos-mais-visitados"
        ;
    }


    /* tags grid-area */
    .titulo-pagina{
        grid-area: titulo-pagina;
    }
    .destaque-video{
        grid-area: destaque-video;
    }
    
    .videos-recentes{
        grid-area: videos-recentes;
    }

    .secao-videos{
        grid-area: secao-videos;
    }

    .destaque-produto{
        grid-area: destaque-produto;
    }

    .produtos-recentes{
        grid-area: produtos-recentes;
    }

    .secao-produtos{
        grid-area: secao-produtos;
    }

    .picos-mapa{
        grid-area: picos-mapa;
    }

    .picos-favoritos{
        grid-area: picos-favoritos;
    }

    .secao-picos-mais-visitados{
        grid-area: secao-picos-mais-visitados;
    }

    .cartao__imagem-picos{
        height:94px;
        overflow: hidden;
    }

    .cartao__info-picos{
        font-size: 14px;
    }
}